.el-button {
  font-weight: 600;
}
.el-button--primary {
  color: #F8F8FF;
  font-size: 30px;
  background-color: #1890ff;
  border-color: #1890ff;
}
.el-button--primary:hover, .el-button--primary:focus  {
  color: #F8F8FF;
  font-size: 30px;
  background-color: #409EFF;
  border-color: #409EFF;
}

.orange-btn {
  color: #111111;
  background-color: #ff9933;
  border-color: #f5222d;
}
.orange-btn:hover, .red-btn:focus {
  color: #333333;
  background-color: #ff9933;
  border-color: #ff4d4f;
}

.red-btn {
  color: #111111;
  background-color: #f5222d;
  border-color: #f5222d;
}
.red-btn:hover, .red-btn:focus {
  color: #333333;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.green-btn {
  color: #333333;
  background-color: #19ce50;
  border-color: #19ce50;
}
.green-btn:hover, .green-btn:focus {
  color: #555555;
  background-color: #4fd678;
  border-color: #4fd678;
}

.yellow-btn {
  color: #333333;
  background-color: #ffff33;
  border-color: #ffff33;
}
.yellow-btn:hover, .yellow-btn:focus {
  color: #555555;
  background-color: #ffff66;
  border-color: #ffff66;
}

.white-btn {
  color: #333333;
  background: #fff;
  border: 1px solid #888888;
}
.white-btn:hover, .white-btn:focus {
  color: #555555;
  background: #fff;
  border: 1px solid #666666;
}
.global-bg-color {
  background-color: #FFEFD5;
}
html {
  background-color: #FFEFD5;
}
